<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  
  <add name="mycon" connectionString="Data Source=20.192.7.67,56327; Initial Catalog=GoldmedalRitual_UAT; Integrated Security=False;
       User Id=r_abdullah_uat; Password=GoldmedalA380; Connect Timeout=5000000; pooling='true'; Max Pool Size=200 "
  providerName="System.Data.SqlClient" />
  <add name="myconread" connectionString="Data Source=20.192.7.67,56327; Initial Catalog=GoldmedalRitual_UAT; Integrated Security=False;
       User Id=r_abdullah_uat; Password=GoldmedalA380; Connect Timeout=5000000; pooling='true'; Max Pool Size=200 "
    providerName="System.Data.SqlClient" />
  
</connectionStrings>